
#download{
    background-color: #4b83b8f6;
    color: #ffffff;
    padding: 11px;
    margin: 5px;
    opacity: 0.9;  
    position: absolute;
    top: 200px;
    left: 85px;
}
#downloadportable{
    background-color: #4b83b8f6;
    color: #ffffff;
    padding: 11px;
    margin: 5px;
    opacity: 0.9;
    position: absolute;
    top: 200px;
    left: 260px;
    }
#site-name{
    background-color:#489cebf6;
    height: 55px;
    font-size: 45px;
}
#logo1{
    position: absolute;
    top: 120px;
    left: 5px;
}
#projects{
    position: absolute;
    top: 70px;
    font-size: 29px;
    color: #1350d3;
}

#about_tp{
    color: #1350d3;
    position: absolute;
    font-size: 20px;
    top: 115px;
    left: 90px;
}
#rus{
    font-size: 20px;
    position: absolute;
    top: 25px;
    left: 25px;
}

#old_ver{
    background-color: #4b83b8f6;
    color: #ffffff;
    padding: 11px;
    margin: 5px;
    opacity: 0.9;
    position: absolute;
    top: 200px;
    left: 743px;
}
#screenru{
    position: absolute;
    top: 270px;
}
#screenen{
    position: absolute;
    top: 830px;
}
#downloadmsi{
    background-color: #4b83b8f6;
    color: #ffffff;
    padding: 11px;
    margin: 5px;
    opacity: 0.9;  
    position: absolute;
    top: 200px;
    left: 499px;
}
#logo2{
    position: absolute;
    top: 1450px;
    left: 5px;
}
#about_fw{
    color: #1350d3;
    position: absolute;
    font-size: 20px;
    top: 1470px;
    left: 90px;
}
#downloadfw{
    background-color: #4b83b8f6;
    color: #ffffff;
    padding: 11px;
    margin: 5px;
    opacity: 0.9;  
    position: absolute;
    top: 1500px;
    left: 85px;
}
#screenfw{
    position: absolute;
    top: 1570px;
}
